@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color: black;
  --bg: white;
}
@media (prefers-color-scheme: dark) {
  :root {
    --color: white;
    --bg: black;
  }
}

body {
  color: var(--color);
  background: var(--bg);
}
